nav{
    display: flex;
    color: @main-color;
}
.links a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    padding-right: 40%;
    font-weight: 800;
    // font-size: 1.2rem;
}