// colors
@orange: #FF9233;
@main-color: #1B1A1A;

// color assignments
@button-hover: @orange;

// mobile version
@tablet: ~'(max-width: 300px)';


// fonts
@main-font: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

